langchain==0.0.177
Flask==2.3.3
Flask-Cors==4.0.0
pillow==9.2.0
timm==0.5.4
torch==1.13.0
torch-tensorrt  
torchaudio==0.13.0
torchdata  
torchtext  
torchvision==0.14.0
python-dotenv==1.0.0
requests==2.26.0
numpy
argparse==1.4.0
tqdm==4.62.3
shutils
urllib3==1.26.7
pydantic==1.8.2
Werkzeug==2.3.7